<!DOCTYPE html>
<html>
<head>
<link rel="icon" href="data:,">
<style type="text/css">
#page {width:100%; max-width:1000px; margin:auto;}
code {display:block; white-space:pre-wrap;}
table, th, td {border:1px solid black; border-collapse: collapse;}
</style>
<script>
function request_get(url) {
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open("GET", url, false);
    xmlHttp.send(null);
    return xmlHttp.responseText;
}
function reload_on_click() {
    request_get("/reload");
    window.location.reload();
}
</script>
</head>
<body>
<div id="page">
    <div>
        RecGUI
        <a href="/webui/index">home</a> 
    </div>
<h1>Settings</h1>
<p><button onclick="reload_on_click();">Reload</button></p>
<h2>Variables:</h2>
<table>
    <tr>
        <th>attribute</th>
        <th>value</th>
    </tr>
    {% for k, v in sorted(global_envs.items()) %}
    <tr>
        <td>{{k}}</td>
        <td>{{v}}</td>
    </tr>
    {% end %}
</table>
<h2>Scripts to be executed:</h2>
<table>
    <tr>
        <th>matcher</th>
        <th>value</th>
    </tr>
    {% for k, v in scripts %}
    <tr>
        <td>{{k.pattern}}</td>
        <td><code>{{v}}</code></td>
    </tr>
    {% end %}
</table>
</div>
</body>
</html>
