<!DOCTYPE html>
<html>
<head>
<link rel="icon" href="data:,">
<style type="text/css">
#page {width:100%; max-width:1000px; margin:auto;}
code {display:block; white-space:pre-wrap;}
table, th, td {border:1px solid black; border-collapse: collapse;}
</style>
<script>
function request_get(url) {
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open("GET", url, false);
    xmlHttp.send(null);
    return xmlHttp.responseText;
}
function reload_on_click() {
    var config = Object.fromEntries(
        Array.from(document.getElementsByClassName("config")).map(
          e => [e.id, e.value] 
        )
    );
    request_get("/reload?config="+encodeURIComponent(JSON.stringify(config)));
    window.location.reload();
}
</script>
</head>
<body>
<div id="page">
    <div>
        RecGUI
        <a href="/webui/index">home</a> 
    </div>
<h1>Settings</h1>
<h2>Config:</h2>
<table>
    <tr>
        <th>attribute</th>
        <th>value</th>
        <th>new value</th>
    </tr>
    {% for k, v in config %}
    <tr>
        <td>{{k}}</td>
        <td>{{v}}</td>
        <td><input class="config" id="{{k}}" value="{{v}}"/></td>
    </tr>
    {% end %}
</table>
<p><button onclick="reload_on_click();">apply</button></p>
<h2>Task sequence:</h2>
<table>
    <tr>
        <th>attribute</th>
        <th>value</th>
    </tr>
    {% for k, v in task_sequence %}
    <tr>
        <td>{{k}}</td>
        <td>{{v}}</td>
    </tr>
    {% end %}
</table>
<h2>Script injection rule:</h2>
<table>
    <tr>
        <th>URL matcher (reg exp)</th>
        <th>value</th>
    </tr>
    {% for k, v in script_rule %}
    <tr>
        <td>{{k}}</td>
        <td><code>{{v}}</code></td>
    </tr>
    {% end %}
</table>
</div>
</body>
</html>
